# site properties and page defaults
title: "SINC LAB"
subtitle: "SOCIAL INTERACTION &<br>NEURAL COMPUTATION LAB"
description: The Social Interaction & Neural Computation Lab examines the neural and computational basis of social cognition and interaction. We are particularly interested in understanding how social interactions impact the well-being of self and others, and the contexts in which they can improve mental health outcomes. We use a combination of methods, including computational modeling of behavior, neuroimaging, and direct brain recordings.
header: images/background.jpg
footer: images/background.jpg
proofer: false
show-title: false
show-subtitle: true

# site social media and other links
links:
  email: shawn.rhoads@mssm.edu
  orcid: 0000-0003-1350-9458
  google-scholar: __YmDVEAAAAJ
  github: shawnrhoads
  bluesky: shawnrhoadsphd.com

### jekyll settings

# front matter defaults
defaults:
  # all markdown files
  - scope:
      path: ""
    values:
      layout: default
  # markdown files in /_members
  - scope:
      type: "team"
    values:
      layout: team
  # markdown files in /_posts
  - scope:
      type: "posts"
    values:
      layout: post

collections:
  # generate page for each member
  team:
    output: true
  # generate page for each post
  posts:
    output: true

# jekyll plugins
plugins:
  - jekyll-spaceship
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-redirect-from
  - jekyll-feed
  - jekyll-last-modified-at

# code block syntax highlighting
highlighter: rouge

# jekyll theme
theme: null

# sass settings
sass:
  sass_dir: _styles

# force jekyll to include certain files/folders
include:
  - _styles
  - _scripts

# force jekyll to exclude certain files/folders
exclude:
  - README.md
  - LICENSE.md
  - CITATION.cff
